* {
    margin: 0;
    padding: 0;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.addTodo {
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    
 
}

.todos {
    display: flex;
    align-items: center;
    width: 345px;
    justify-content: space-between;
    background-color: rgb(14, 14, 90);
    color: rgb(255, 255, 255);
    height: 35px;
    padding: 2px 5px 2px 5px;
    margin: 0 auto;
    margin-top: 3px;
}
.line_through{
    text-decoration: line-through;
    color: red;
}